:root {
	--column-width: 1440px;
	--header-height: 120px;
	--scrollbar-width: 16px;
}

html {
	scroll-behavior: smooth;
	width: 100%;
}

body {
	position: relative;
	scroll-behavior: smooth;
	width: 100%;
	overflow-x: hidden;
}

.text-highlight {
	color: var(--accent-100);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 240px;
}

nav ul li {
	font-size: var(--fs-16);
	font-weight: 500;
	transition: 200ms;
}

nav ul li:hover {
	font-weight: 600;
}

nav ul li a.active {
	color: var(--accent-100);
	text-decoration: underline;
	font-weight: 700;
}

.double-button {
	display: flex;

	border: solid 2px var(--black-100);
	border-radius: 1rem;
	padding: 0;

	overflow: hidden;
}

.double-button a button {
	background-color: transparent;
}

.double-button a button.active {
	background-color: var(--selected-100);
}

.logo {
	color: var(--black-100);

	/* desktop/H5 */
	font-family: var(--ff-inter);
	font-size: var(--fs-16);
	font-weight: 700;
	line-height: var(--line-height-normal);
}

section {
	width: var(--column-width);
	padding: 64px 240px 32px 240px;
}

.hero {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hero-title {
	color: var(--black-100);

	font-family: var(--ff-inter);
	font-size: var(--fs-120);
	font-weight: 700;
	line-height: var(--line-height-small);

	margin: 0;
}

.hero-title-highlight {
	font-family: var(--ff-playfair);
	font-style: italic;
	font-weight: 700;
}

.links {
	display: flex;
	align-items: center;
	gap: 1rem;

	margin-left: -1rem;
}

.links ul {
	list-style: none;
	display: flex;
	align-items: center;

	padding-right: 1rem;
	border-right: solid 2px var(--black-100);
}

.links ul li::before {
	content: '';
}

.about-me {
	font-size: var(--fs-24);
	line-height: var(--line-height-normal);
}
