.logo {
	color: var(--black-100);

	/* desktop/H5 */
	font-family: var(--ff-inter);
	font-size: var(--fs-16);
	font-weight: 700;
	line-height: var(--line-height-normal);
}

.hero-title {
	color: var(--black-100);

	font-family: var(--ff-inter);
	font-size: var(--fs-120);
	font-weight: 700;
	line-height: var(--line-height-normal);
}

.hero-title-highlight {
	font-family: var(--ff-playfair);
	font-style: italic;
	font-weight: 700;
	line-height: var(--line-height-normal);
	color: var(--accent-100);
}
